#main{
    position:absolute;
    width: 97%;
    height:45px;
    background-color: rgb(47, 226, 71);
  }
  #main > div{
    float:right;
  }
  #d1{
    width:45%;
    margin-right: 5%;
    margin-top: 0.5%;
  }
  
  #d2{
    width:45%;
    margin-left: 1%;
    margin-top: 1.5%;
  }